@import url('https://fonts.cdnfonts.com/css/akira-expanded');
@import url('https://fonts.cdnfonts.com/css/nigelina-95312');
@font-face {
  font-family: 'MonoLisa Book';
  font-style: normal;
  font-weight: normal;
  src: local('MonoLisa Book'), url('Fonts/MonoLisaRegular.woff') format('woff');
}
@font-face {
    font-family: 'Abril Fatface Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Abril Fatface Regular'), url('Fonts/AbrilFatface-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Unity Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Unity Sans Regular'), url('/Fonts/Unity-Sans-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Unity Sans Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Unity Sans Medium'), url('Fonts/Unity-Sans-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'Unity Sans Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('Unity Sans Semibold'), url('Fonts/Unity-Sans-SemiBold.woff2') format('woff2');
}

@keyframes float {
  0%, 100% {
      transform: translateY(0);
  }
  25%, 75% {
      transform: translateY(-3px); 
  }
  50% {
      transform: translateY(0);
  }
} // this is for when the earthquake func is added, when an earthquake is detected add animation style to css via js

@keyframes fadeIn {
  0% {opacity: 0%;}
  20% {opacity:20%;}
  40% {opacity:40%;}
  60% {opacity:60%;}
  80% {opacity:80%;}
  100% {opacity:100%;}
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    fill:red;
  }
  100% {
    opacity: 1;
  }
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.3s all ease-out ;
}

body::-webkit-scrollbar{
  display:none;
}

body {
  min-height: 100vh;
  background-color: black;
}

section{
  display:flex;
  height: 100vh;
  width: 100%;
}

.container{
  height: 100vh;
  width: 100%;
  
  #main {
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100vh;

    p {
        text-decoration: none;
        font-family: Monolisa Book;
        text-align: center;
        font-size: 64px;
        color: rgb(58, 215, 64);
  }
    #info{
      padding-left: 15%;
      padding-right: 15%;
        color:red;
        font-size:24px;
    }

  

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end; 

        li {
          list-style-type: none;

          a{
            font-family: Monolisa Book;
            text-decoration: none;
            font-size: 24px;
            color: rgb(238, 240, 238);
        
            &:hover {
                color: rgb(2, 236, 10);
            }
        }
    }
  }
    .github-icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      color: rgb(171, 167, 167); 
      margin-top: 20px; 
      
      i {
          font-size: 26px; 
      }
  }
}

#mapSection {
  background-image: url("Images/bg.png");
  background-size: cover;
  display: none;
  background-color: rgb(0, 0, 0);

  .Lcontainer {
    padding-left: 5vh;
    padding-top: 15vh;
    display: block;
    position: relative; /* Add this */
    
    h1{
      color:red;
      margin-bottom: 10vh;
      font-family: Monolisa Book;
      font-size: 64px;
    }

    .btncontainer{
      position: relative;
      display: block;
    
    button {
      padding-right:20px;
      font-size: 21px;
      animation: fadeIn 0.69s ease-in;
      font-family: Monolisa Book;
      cursor: pointer;
      color: rgb(220, 251, 204);
      border: none;
      background: none;

      &:hover {
        color: rgb(207, 252, 149);
      }
    }
}
    #alertBox { 
      margin-top: 10vh;
      display: block;
      position: relative;
      background : rgba(206, 213, 194, 0.2); 
      backdrop-filter : blur(6.9px);
      border-Radius : 10px;
      width : 300px;
      padding :20px;
      box-shadow : 0 4px 6px rgba(0, 0, 0, 0.1);

        h1 {
          color: rgb(221, 26, 26);
          font-size: 30px;
          font-family: Monolisa Book;
        }

      .alertList {

        p {
          color: rgb(245, 190, 10);
          font-size: 16px;
          font-family: Monolisa Book;
        }
      }
    }
  }

  #map {
    margin-top: 6.9%;
    margin-left: 15%;
    fill: rgb(254, 254, 254);
    width: 75%;
    z-index: 0;

    .country:hover {
      opacity: 80%;
    }
  }

  .tooltip {
    font-family: Monolisa Book;
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: none;
    z-index: 2; 
  }
}}
